@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Discount Rate</th>
            <th>News Letter Subscription</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr align="center">
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Type</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@customer.IsSubscribedToNewsletter</td>
                </tr>
            }
        </tbody>
    </table>
}

